@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #FFF;
    --foreground: #212529;
}

body {
	/* color: rgb(var(--foreground-rgb)); */
	/* background: radial-gradient(257.3% 141.42% at 0% 0%, #F9F3F1 0%, #F7EEDE 100%), rgb(var(--background-start-rgb)); */
	@apply bg-[--background] text-[--foreground] dark:bg-[--foreground] dark:text-[--background];
}

.backface-hidden {
	
	backface-visibility: "hidden";
}

img {
	width: auto;
	height: auto;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.pause {
		animation-play-state: paused;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
   /* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
}

.gradient-border {
	
	position: relative;
}

.gradient-border:before {
	content: "";
	position: absolute;
	inset: 0;
	padding: 1px; /* border length  */
	background: linear-gradient(110.41deg, #744cebe6 -2.4%, #39C77B 105.71%);
	border-radius: inherit;
	mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}

@layer components {
	.flex-center {
		@apply flex justify-center items-center
	}
	.full {
		@apply w-full h-full
	}
	.slide {
		@apply animate-[slide_30s_infinite_linear]
	}

	h1, .h1{
		@apply font-bold text-4xl sm:text-5xl md:text-6xl ;
    }
    
    h2, .h2 {
		@apply font-bold text-[32px] sm:text-[36px] md:text-[40px] lg:text-[48px];
    }
	
	h3, .h3 {
		@apply font-semibold text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
	}
	
	h4, .h4 {
		@apply font-bold text-lg sm:text-xl md:text-2xl;
	}

	p, .p {
		@apply text-sm sm:text-base
	}
}
